<h3 *ngIf="products; else noProduct">{{title}}</h3>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input class="form-control" id="productName" aria-describedby="emailHelp" placeholder="Enter Your Search Term">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>




    <div class="row">
        <ng-template #noProduct>
            <div class="alert alert-primary" role="alert">
                No any procucts in this category!!
            </div>
        </ng-template>

        <div *ngFor="let product of products | productFilter :filterText" class="card" style="width: 18rem;">
            <img [src]="product.imageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name }} {{product.price | currency: "TRY": true:"1.2-2"}}</h5>
                <p class="card-text">{{product.description}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>